<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      // Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see the error "The Geolocation service
// failed.", it means you probably did not give permission for the browser to
// locate you.



function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: -34.397, lng: 150.644 },
    zoom: 6,
  });
  infoWindow = new google.maps.InfoWindow();
  const locationButton = document.createElement("button");
  locationButton.textContent = "Pan to Current Location";
  locationButton.classList.add("custom-map-control-button");
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);


  
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            const pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };
            infoWindow.setPosition(pos);
            infoWindow.setContent("Location found.");
            infoWindow.open(map);
            map.setCenter(pos);
  
            const marker = new google.maps.Marker({
            position: pos,
            map: map,
            label: "Home",
          });
  
            const pos2 = {
              lat: 19.1136,
              lng: 72.8697,
            };
            const marker2 = new google.maps.Marker({
            position: pos2,
            map: map,
            label: "A",
          });
  
          var markers, contac, nam, add;
         {% for i in data %}
          
          console.log('{{i.contact}}'),
          console.log('{{i.name}}'),
          contac = '{{i.contact}}',
          nam = '{{i.name}}',
          add = '{{i.address}}',
          

          markers = new google.maps.Marker({
          position: new google.maps.LatLng( {{i.latitude}}, {{i.longitude}} ),
          map: map,
          contact: contac ,
          address: add,
          name: nam ,
        });
  
         {% endfor%}
  
  
          },
          () => {
            handleLocationError(true, infoWindow, map.getCenter());
          }
        );
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }

  locationButton.addEventListener("click", () => {
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
          };
          infoWindow.setPosition(pos);
          infoWindow.setContent("Location found.");
          infoWindow.open(map);
          map.setCenter(pos);

          const marker = new google.maps.Marker({
          position: pos,
          map: map,
          label: "Home",
        });

          const pos2 = {
            lat: 19.1136,
            lng: 72.8697,
          };
          const marker2 = new google.maps.Marker({
          position: pos2,
          map: map,
          label: "A",
        });

        var markers;
       {% for i in data %}
       
        markers = new google.maps.Marker({
        position: new google.maps.LatLng( {{i.latitude}}, {{i.longitude}} ),
        map: map
      });

       {% endfor%}


        },
        () => {
          handleLocationError(true, infoWindow, map.getCenter());
        }
      );
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  });
}

$.getJSON('http://www.geoplugin.net/json.gp?jsoncallback=?', function(data) {
  console.log(JSON.stringify(data, null, 2));

  console.log(data['geoplugin_request'])
});
let map, infoWindow;

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(
    browserHasGeolocation
      ? "Error: The Geolocation service failed."
      : "Error: Your browser doesn't support geolocation."
  );
  infoWindow.open(map);
}

function request_access(){
    console.log("button clicked");
    
    
    $.ajax({
        type: 'POST',
        url: "test",
        data : { request_data: 1,
            radius: 10,
            csrfmiddlewaretoken: '{{ csrf_token }}',
        },
        success : function(json) {
            $("#request-access").hide();
            console.log("requested access complete");
            var markers;
           initMap();
        }
    })
}

    </script>
  </head>
  <body>
  	<div>
    <div id="map"style="width:500px; height: 500px"></div>
    <!-- <button class="btn btn-green btn-sm" onclick="request_access()">20km</button> -->
    <a href="{% url 'test' %}" class="py-2 d-block">20km</a>
	</div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUtW5QYGBmE8E13Lb3Mn7ShiUBgbC2O4Y&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>