<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      // Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see the error "The Geolocation service
// failed.", it means you probably did not give permission for the browser to
// locate you.
let map, infoWindow;
const arr = []
function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat: -34.397, lng: 150.644 },
    zoom: 6,
  });
  infoWindow = new google.maps.InfoWindow();
  const locationButton = document.createElement("button");
  locationButton.textContent = "Pan to Current Location";
  locationButton.classList.add("custom-map-control-button");
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);


    
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            const pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };
            infoWindow.setPosition(pos);
            infoWindow.setContent("Location found.");
            infoWindow.open(map);
            map.setCenter(pos);
  
            const marker = new google.maps.Marker({
            position: pos,
            map: map,
            label: "Home",
          });
  
           
          var markers;
         {% for i in data %}
          
          markers = new google.maps.Marker({
          position: new google.maps.LatLng( {{i.latitude}}, {{i.longitude}} ),
          map: map,
          label: '{{i.name}}',
          id: '{{i.id}}',
          name: '{{i.name}}',
          contact: '{{i.contact}}',
          address: '{{i.address}}',

        });


        google.maps.event.addListener(markers, "click", (e) => {
            console.log(markers.getPosition().lat());
            console.log(`LatLng[${e["id"]}]: ${e.latLng.lat()}. ${e.latLng.lng()}`);

            findmarker(`${e.latLng.lat()}`,`${e.latLng.lng()}`)
          });

            arr.push(markers);

         {% endfor%}

         console.log(arr)
  
          
      /*  console.log(arr[0])


        for(i = 0;i<arr.length;i++)
        {
            console.log(i);
            console.log(arr[i]);
            google.maps.event.addListener(arr[i], 'click', function() {
                
                console.log(arr[i])
                
            });                               
        
        }

        console.log(arr[0].get('id'))  */

         const cityCircle = new google.maps.Circle({
            strokeColor: "#FF0000",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: "#FF0000",
            fillOpacity: 0.35,
            map,
            center: pos,
            radius: 30775.369880704726,
          });



          },
          () => {
            handleLocationError(true, infoWindow, map.getCenter());
          }
        );
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }

      

  locationButton.addEventListener("click", () => {
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude,
          };
          infoWindow.setPosition(pos);
          infoWindow.setContent("Location found.");
          infoWindow.open(map);
          map.setCenter(pos);

          const marker = new google.maps.Marker({
          position: pos,
          map: map,
          label: "Home",
        });

          

        var markers;
       {% for i in data %}
       
        markers = new google.maps.Marker({
        position: new google.maps.LatLng( {{i.latitude}}, {{i.longitude}} ),
        map: map
      });

       {% endfor%}


        },
        () => {
          handleLocationError(true, infoWindow, map.getCenter());
        }
      );
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  });
}

var highlightmarker;

function findmarker(lat, lon){

    for(i = 0;i<arr.length;i++)
    {
        //console.log((arr[i].getPosition().lat() == lat) && (arr[i].getPosition().lng() == lon))
        console.log(arr[i]['id'])
        if((arr[i].getPosition().lat() == lat) && (arr[i].getPosition().lng() == lon))
        {
            highlightmarker = arr[i]
        }
    }

    document.getElementById("text").innerHTML="";

    const html = `Label:<span>${highlightmarker.label}</span>
    <br>
    id:<span>${highlightmarker.id}</span>
    <br>
    name:<span>${highlightmarker.name}</span>
    <br>
    address:<span>${highlightmarker.address}</span>
    <br>
    contact:<span>${highlightmarker.contact}</span>
    `

    document.querySelector("#text").insertAdjacentHTML('afterbegin', html) ;
    
} 

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(
    browserHasGeolocation
      ? "Error: The Geolocation service failed."
      : "Error: Your browser doesn't support geolocation."
  );
  infoWindow.open(map);
}
    </script>
  </head>
  <body>
  	<div>
    <div id="map"style="width:500px; height: 500px"></div>
    <div id="text"></div>

    <div>
      <form action="test" class="bg-white p-5 contact-form" method="post" novalidate="novalidate">
        <select id="radius" name="radius" class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="10">10km</option>
          <option value="20">20km</option>
          <option value="30">30km</option>
        </select>

        <input type="submit" value="search" class="btn btn-primary py-3 px-5">
      </form>
    </div>
	</div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUtW5QYGBmE8E13Lb3Mn7ShiUBgbC2O4Y&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>